
<div class="container-fluid align-items-center" style="position:absolute; height: 100%;">

<h3 style="Padding-bottom: 2%">Your Files</h3>

<div class="border my-3"></div>
<div id="queryResult">
    <div class="container">
        <div class="row mt-3">
            {% if not files %}
                <div class="col-sm-3 mt-3">
                    <h4 class="text-dark">No Files Found</h4>
                </div>
            {% else %}
            {% for file in files %}
                <div class="col-sm-3">
                    <div class="card align-center mt-3 mb-2" style="padding: 0px; width: 80%; height: 80%; background: none; box-shadow: 0px 0px 2px 2px rgba(172, 168, 168, 0.216);">
                        {% if file.is_folder == 0 %}
                            {% if file.file_name.includes(".pdf") %}
                                <img src="/assets/frappe/images/pdf-icon.png" class="card-img-top mt-2" style="width: 100px" alt="file1 image">        
                            {% else %}
                                <img src="{{ file.file_url }}" class="card-img-top mt-2" style="width: 100px; height: 100px;" alt="file1 image">
                            {% endif %}
                        {% else %}
                            <img src="/assets/frappe/images/open-folder.png" class="card-img-top mt-2" style="width: 100px; height: 100px;" alt="file1 image">

                        {% endif %}
                        <div class="card-body text-center">
                            <p class="card-text text-danger underline">
                            {% if file.is_folder == 0 %}
                            <a href="{{ file.file_url }}" class="stretched-link text-danger" style="position: relative;  height: 18px; width: 140px; padding: 0; overflow: hidden; position: relative; display: inline-block; margin: 0 5px 0 5px; text-align: center; text-decoration: none; text-overflow: ellipsis; white-space: nowrap; color: #000;">{{file.file_name}}</a>
                            {% else %}
                            <a href="{{ `file/view/` + file.name }}" class="stretched-link text-danger" style="position: relative;  height: 18px; width: 140px; padding: 0; overflow: hidden; position: relative; display: inline-block; margin: 0 5px 0 5px; text-align: center; text-decoration: none; text-overflow: ellipsis; white-space: nowrap; color: #000;">{{file.file_name}}</a>
                            {% endif %}    
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>