<filter-field-data ng-if="field.type=='Data'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-data>
<filter-field-currency ng-if="field.type=='Currency'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-currency>
<filter-field-float ng-if="field.type=='Float'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-float>
<filter-field-date ng-if="field.type=='Date'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-date>
<filter-field-time ng-if="field.type=='Time'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-time>
<filter-field-link ng-if="field.type=='Link'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-link>
<filter-field-select ng-if="field.type=='Select'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-select>
<filter-field-check ng-if="field.type=='Check'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-check>
<!--<filter-field-multi-select ng-if="field.type=='MultiSelectList'" size-small="sizeSmall" field="field" ng-model="$parent.ngModel"></filter-field-multi-select>-->
